---
import img1 from "../images/pre1.webp"
import img2 from "../images/pre2.webp"
import img3 from "../images/pre3.webp"
import img4 from "../images/pre4.webp"
import CardFront from "../cards/CardFront.astro"
---

<div class="relative w-full h-full animate-fade-up animate-once animate-delay-[500ms]">
    <p class="text-sm font-semibold">Prácticas | Frontend Mentor</p>
    
    <div class="grid gap-3 sm:grid-cols-2 py-5">
        <CardFront title="Challegue 11" image={img1.src} url="https://classy-faun-4cca63.netlify.app/"/>
        <CardFront title="Challegue 10" image={img2.src} url="https://golden-douhua-41ac31.netlify.app/"/>
        <CardFront title="Challegue 09" image={img3.src} url="https://strong-valkyrie-5389d9.netlify.app/"/>
        <CardFront title="Challegue 08" image={img4.src} url="https://silver-starlight-5c094e.netlify.app/"/>
    </div>
</div>
