---
import img1 from '../images/davidlogo.webp'
import Badge from './Badge.astro'
---


<div class="px-6">
        <div class="sticky top-0 text-xs flex flex-col gap-3 lg:pt-10">
                <img class="size-24 rounded-full shadow-lg" src={img1.src} alt="">
                <h1 class="text-xl font-bold">David Alejandro</h1>
                <p class="">Diseñador y Desarrolador Web</p>
                <p class="pb-5">Pasión por la creación de experiencias digitales y atractivas y funcionales.</p>
                <Badge>Preparado para asumir nuevos retos</Badge>
        </div>        
</div>
