---
interface Props {
    img : string,
    color: string
}

const {img, color} = Astro.props;
---

<div class="border p-3 rounded-2xl" class:list={color}>
    <img class="size-10" src={img} alt="">
</div>